[user]
    name = Tim MacDonald
    email = hello@timacdonald.me
[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
	gpgsign = true
[gpg]
	program = gpg
[color]
	ui = auto
[color "diff"]
    meta = yellow
    commit = green
    frag = magenta
    old = red
    new = green
    whitespace = red reverse
    newMoved = cyan
    oldMoved = blue
[color "branch"]
    current = cyan reverse
	local = cyan
	remote = green
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
    unmerged = cyan
    branch = cyan
    nobranch = cyan
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red reverse
	newNormal = green
	newHighlight = green reverse
[alias]
    # delete local branches no long present on origin
    forget = "! /usr/local/bin/git fetch -p && /usr/local/bin/git branch -vv | awk '/: gone]/{print $1}' | xargs /usr/local/bin/git branch -D"
    # branch and checkout
    bc ="checkout -b"
    # short status
    s = "status -s -b --renames"
[push]
	default = current
[fetch]
	prune = true
[pull]
	rebase = true
[diff]
	colorMoved = zebra
[stash]
    showPatch = true
[interactive]
    # show a nicer diff when using `git add -p`
    diffFilter = "$(git --exec-path | sed 's/libexec/share/')/contrib/diff-highlight/diff-highlight"
