[user]
    name = Tim MacDonald
    email = hello@timacdonald.me
[core]
	excludesfile = ~/.gitignore_global
    editor = vim
	pager = delta
[commit]
	gpgsign = true
  template = ~/.gitmessage
[gpg]
	program = gpg
[color]
	ui = auto
[color "diff"]
    meta = yellow
    commit = green
    frag = magenta
    old = red
    new = green
    whitespace = red reverse
    newMoved = cyan
    oldMoved = blue
[color "branch"]
    current = cyan reverse
	local = cyan
	remote = green
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
    unmerged = cyan
    branch = cyan
    nobranch = cyan
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red reverse
	newNormal = green
	newHighlight = green reverse
[alias]
    # delete local branches no long present on origin
    forget = "! /usr/local/bin/git fetch -p && /usr/local/bin/git branch -vv | awk '/: gone]/{print $1}' | xargs /usr/local/bin/git branch -D"
    # branch and checkout
    bc ="checkout -b"
    # short status
    s = "status -s -b --renames"
    # nice log
    l = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --"
[push]
	default = current
[fetch]
	prune = true
[pull]
	rebase = true
[diff]
	colorMoved = default
[stash]
    showPatch = true
[interactive]
    # show a nicer diff when using `git add -p`
    diffFilter = delta --color-only
[delta]
    features = line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul
[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
[include]
    path = ~/.gitconfig.local
