# https://linuxize.com/post/using-the-ssh-config-file/
# https://unix.stackexchange.com/questions/340844/how-to-enable-diffie-hellman-group1-sha1-key-exchange-on-debian-8-0

Host 10.20.1.*, 10.23.1.*
  User admin
  LogLevel INFO
  KexAlgorithms +diffie-hellman-group1-sha1
  HostKeyAlgorithms=+ssh-dss

Host 10.20.1.*, 10.23.1.*
  LogLevel INFO
  User root
  KexAlgorithms +diffie-hellman-group1-sha1
  HostKeyAlgorithms=+ssh-dss

Host *
  LogLevel INFO
  AddKeysToAgent yes
  UseKeychain no
  KexAlgorithms +diffie-hellman-group1-sha1
  HostKeyAlgorithms=+ssh-dss


